.fondo{
    position: fixed;
    background: url("../images/bg4.jpg") center;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    top: -5%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    color: white;
}

