.tarjeta {
    height: 25vh;
    max-height: 180px;
    width: 32%;
    background-color: rgb(255, 247, 234);
    margin-right: 1%;
    position: relative;
}

.tarjeta:hover {
    /* border: 1px solid rgb(46,46,46); */
    -webkit-box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.46);
    box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.46);
}