.contenedorGraficos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pedidosPorMes {
    width: 80%;
}

.pedidosPorEstado {
    width: 80%;
}

.catDeProdPedidos {
    width: 80%;
}