.fondo {
    background: #D1913C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD194, #D1913C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    padding-bottom: 2em;
}

.fondoBarra {
    background: rgb(68, 53, 53);
    min-height: 11vh;
}

.btnVaciar {
    background: transparent;
    color: darkred;
    margin-left: auto;
    border: none;
}

.cuerpoTabla td {
    border: none !important
}