.active {
  text-decoration: underline;
}

.table td, .table th {
  vertical-align: middle !important;
}

.bajoStock {
  height: 25px;
  width: 25px;
  background-color: rgb(197, 8, 8);
  border-radius: 25%;
  display: inline-block;
  border: 1px solid black;
}

.medioStock {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 228, 75);
  border-radius: 25%;
  border: 1px solid black;
  display: inline-block;
}

.altoStock {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  background-color: green;
  border-radius: 25%;
  display: inline-block;
}

.tabla-pedidos table td {
  border-top: 1px solid black
}

.tabla-pedidos thead th {
  border: none !important
}

.tabla-pedidos a {
  color: darkred;
}

.tabla-pedidos a:hover {
  color: whitesmoke;
  text-decoration: none;
}

.dropdown-item a {
  color: #343a40
}

.menu-salir {
  color: rgba(255, 0, 0, 0.829)
}

.dropdown-toggle::after {
  color: white
}

.nav-tabs .nav-link.active {
  color: darkred !important;
  border-bottom: 2px solid black !important
}

.nav-tabs .nav-link {
  text-decoration: none !important;
  color: black !important
}

.nav-lateral .active {
  border-left: 4px solid white !important;
  text-decoration: none !important;
}