.active {
  text-decoration: underline;
}

.table td, .table th {
  vertical-align: middle !important;
}

.bajoStock {
  height: 25px;
  width: 25px;
  background-color: rgb(197, 8, 8);
  border-radius: 25%;
  display: inline-block;
  border: 1px solid black;
}

.medioStock {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 228, 75);
  border-radius: 25%;
  border: 1px solid black;
  display: inline-block;
}

.altoStock {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  background-color: green;
  border-radius: 25%;
  display: inline-block;
}